#![enable(implicit_some)]
(
    ui_info : (
        display_name : "sandbox",
        thumbnail : "",
        description : "Sandbox Map"
    ),
    base : "default_map",
    bounds : (1000.0, 1000.0),
    box_collider : (1000.0, 1.0, 1000.0),
)