#![enable(implicit_some)]
(
    actors: (
        actors: {
            (
                team: 1,
                player: 0,
            ): (
                actor_type: Player,
                rating: (
                    economy_score: 8,
                    production_score: 0,
                    power_score: 0,
                ),
                economy: (
                    resources: 5000,
                    settings: (
                        tipping_point: 4,
                        dim_rate: 0.9,
                        economy_core: false,
                        eco_value: 4,
                    ),
                ),
            ),
            (
                team: 2,
                player: 0,
            ): (
                actor_type: AI(
                    difficulty: Easy,
                    settings: (
                        dynamic: None,
                    ),
                ),
                rating: (
                    economy_score: 75,
                    production_score: 0,
                    power_score: 0,
                ),
                economy: (
                    resources: 5000,
                    settings: (
                        tipping_point: 4,
                        dim_rate: 0.9,
                        economy_core: false,
                        eco_value: 4,
                    ),
                ),
            ),
        },
    ),
    map : "/assets/maps/sandbox.ron",
    objects: (
        crane_yards: [
            (
                transform : (
                    translation : (0., 0., -10.,),
                    rotation : (0., 1, 0., 0,),
                    scale : (1., 1., 1.,),
                ),
                team_player : TeamPlayer (
                    team : 1,
                    player : 0,
                ),
            ),
        ],
        resource_nodes: [],
        factories: [],
        tanks: [
            (
                transform : (
                    translation : (0., 0., 10.,),
                    rotation : (0., 1, 0., 0.),
                    scale : (1., 1., 1.,),
                ),
                team_player : TeamPlayer (
                    team : 1,
                    player : 0,
                ),
            ),
            (
                transform : (
                    translation : (10., 0., 0.,),
                    rotation : (0., 1, 0., 0.,),
                    scale : (1., 1., 1.,),
                ),
                team_player : TeamPlayer (
                    team : 1,
                    player : 0,
                ),
            ),

        ],
    )
)